.ch_container {
  width: 270px;
  height: 390px;
}
.ch_p1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* body text 2 */
  margin: 0;
  color: #2a363a;
  width: 180px;
}
.ch_p2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* body text 1 */

  color: #4e5a5f;
  width: 180px;
}
.ch-row1{
  padding: 1rem 0;
  border-bottom: 1px solid #E1E1E1;
}
